<div class="warn" *ngIf="!isPushSubscriptionSucess">
  Unable to subscribe to push notifications. Try another browser like chrome.
</div>
<div class="warn" *ngIf="!arePermissionsGranted()">
  Please enable notifictions.
  <button (click)="requestNotificationPermission()">OK</button>
</div>

<div *ngIf="arePermissionsGranted() && isPushSubscriptionSucess">
  <div class="doorbell" *ngIf="doorbellEvtTime">
    Last recorded doorbell event: {{ doorbellEvtTime | date:'dd.MM.yyyy "at" HH:mm:ss'}}
  </div>
  <div class="dooraction">
    Click here to trigger the door opening mechanic
    <button (click)="openDoor()">Open door</button>
  </div>
  <div class="configuration">
    Configure your smart intercom:
    <button (click)="configure()">Configure</button>
  </div>
</div>

