<!DOCTYPE html>
<html>
<head><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>lux meter</title>
<style>
html { 
  font-family: Helvetica; 
  display: inline-block; 
  margin: 0px auto; 
  text-align: center;}

body {
  margin-top: 50px;
} 

h1 {
  font-size: 20pt; 
  color: #444444;
  margin: 50px auto 30px;
} 

h3 {
  font-size: 14pt; 
  color: #444444;
  margin-bottom: 50px;
}
</style>
</head>

<body>

<div>
  <h3>ESP32-S3 VEML7700 lux sensor statistics</h3><br>
  <h1>Illuminance</h1>
  <h1>Mean</h1>
  <h1> {{ values[0] }} [lux]</h1><br>
  <h1>STD</h1>
  <h1> {{ values[1] }} [lux]</h1><br>
  <h1>Min</h1>
  <h1> {{ values[2] }} [lux]</h1><br>
  <h1>Max</h1>
  <h1> {{ values[3] }} [lux]</h1><br>
  <br/>
</div>

</body>
</html>

