.title-box {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px hsl(0deg 0% 0% / 0.48);
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px hsl(0deg 0% 0% / 0.48);
  margin-bottom: 3px;
}

* {
  margin: 1px;
  padding: 1px;
}

body {
  font-family: 'montserrat', sans-serif;
  background-image: url( './images/pattern.svg' );
}

.frame{
  margin: 0px;
  padding: 0px;
}

.buttons{
  margin: 1px;
  width: fit-content;
  padding: 5px;
  font-size: 20px;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px 0px 16px 0px;
  box-shadow: 2px 2px 2px hsl(0deg 0% 0% / 0.48);

  display: inline-block;
  position: relative;
  overflow: hidden;
}

img {
  max-width: 23%;
  height: auto;

  padding: 10px;
  font-size: 20px;

  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 2px 2px 2px hsl(0deg 0% 0% / 0.48);

  display: inline-block;
  position: relative;
  overflow: hidden;
}
